<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body style="width: 75%; margin: auto; max-width: 1100px">
    {% extends 'index.html' %} {% block page %}
    <h1>About me.</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur et
      rem expedita voluptates inventore cupiditate, impedit obcaecati enim
      pariatur facere mollitia, doloremque adipisci modi aliquid aut? Distinctio
      incidunt iure fugit sed ab minima asperiores eos, nisi debitis assumenda
      nobis velit reiciendis praesentium laboriosam, quasi modi ducimus
      veritatis, earum perspiciatis laudantium.
    </p>

    {% endblock %}
  </body>
</html>
